{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}

        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.thumb_nail|linebreaksbr }}</p>
        </div>

    {% endfor %}
{% endblock %}
<!-- <html>
    <head>
        <title>상품리스트</title>
        <style type="text/css">
            .main{
                font-family: arial;
                font-size: 24px;
                margin: 25px;
                width: 400px;
                height: auto;

            }
        </style>
    </head>
    <body class="main">
        <div>
            <div>
                <h1 style="text-align: center; ">투자상품</h1>
            </div>

            <div style="border: 5px solid; margin-bottom: 50px;">
                <div style="margin: 50px;">
                    <p style="text-align: right;">부동산 담보</p>
                    <p><b>담보대출1호</b></p>
                    <p><b>14.5%</b> / 3개월 / 부동산 담보</p>
                    <p><span style="text-align: left;">총 모집액</span><span style="text-align:right;">투자 모집액</span></p>
                    <p>bar~~~</p>
                    <p style="text-align:right;">50%</p>
                    <p style="font-size: 10px;">심의필 한투 2023.10.01 ~ 2023.12.01</p>
                </div>
            </div>

           <div style="border: 5px solid; margin-bottom: 50px;">
                <div style="margin: 50px;">
                    <p style="text-align: right;">부동산 담보</p>
                    <p><b>담보대출1호</b></p>
                    <p><b>14.5%</b> / 3개월 / 부동산 담보</p>
                    <p><span style="text-align: left;">총 모집액</span><span style="text-align:right;">투자 모집액</span></p>
                    <p>bar~~~</p>
                    <p style="text-align:right;">50%</p>
                    <p style="font-size: 10px;">심의필 한투 2023.10.01 ~ 2023.12.01</p>
                </div>
            </div>

            <div style="border: 5px solid; margin-bottom: 50px;">
                <div style="margin: 50px;">
                    <p style="text-align: right;">부동산 담보</p>
                    <p><b>담보대출1호</b></p>
                    <p><b>14.5%</b> / 3개월 / 부동산 담보</p>
                    <p><span style="text-align: left;">총 모집액</span><span style="text-align:right;">투자 모집액</span></p>
                    <p>bar~~~</p>
                    <p style="text-align:right;">50%</p>
                    <p style="font-size: 10px;">심의필 한투 2023.10.01 ~ 2023.12.01</p>
                </div>
            </div>
        </div>

    </body>


    <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div>
                <ul>
                    <li>
                        <span>
                            {{ post.thumb_nail|linebreaksbr }}
                        </span>
                        <span>
                            {{ post.thumb_nail|linebreaksbr }}
                        </span>
                    </li>
                </ul>
            </div>
            
        </div>

</html> -->