{% extends 'blog/base.html' %}

{% block content %}

    
    <div class="w2group tit_steps secondary">
        <h3 class="w2textbox tit" style="
        background: #003150!important;
        font-size: 1.125rem;
        color: #fff;
        position: static;
        width: 100%;
        left: 0;
        top: 64px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;">사이트 목록</h3>
    </div>

    {% for post in posts %}
    <div class="w2group plr24 pt32 bg_ff">
        <h4 id="mf_wq_uuid_55" class="w2textbox sub_tit  pt0">
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h4>

        <div id="mf_wq_uuid_56" class="w2group loan_list">
            <ul id="mf_wq_uuid_57" class="w2group ">
                <li id="mf_wq_uuid_58" class="w2group ">
                    <a id="mf_wq_uuid_59" class="w2group " href="javascript:void(null);">
                        <span id="mf_wq_uuid_60" class="w2group loan_cont">
                            <strong id="mf_wq_uuid_61" class="w2textbox title">예상 금리</strong>
                        </span>
                        <span id="mf_wq_uuid_63" class="w2group loan_ex">
                            <span id="mf_wq_uuid_65" class="w2group percent">
                                <strong id="mf_wq_uuid_66" class="w2textbox ">{{post.invest_rate}}</strong>
                                <strong id="mf_wq_uuid_67" class="w2textbox "> %</strong>
                            </span>
                        </span>
                    </a>
                     <a id="mf_wq_uuid_59" class="w2group " href="javascript:void(null);">
                        <span id="mf_wq_uuid_60" class="w2group loan_cont">
                            <strong id="mf_wq_uuid_61" class="w2textbox title">예상 달성율</strong>
                            <!-- <span id="mf_wq_uuid_62" class="w2textbox explanation">달성율</span> -->
                        </span>
                        <span id="mf_wq_uuid_63" class="w2group loan_ex">
                            <span id="mf_wq_uuid_65" class="w2group percent">
                                <strong id="mf_wq_uuid_66" class="w2textbox ">{{post.success_rate}}</strong>
                                <strong id="mf_wq_uuid_67" class="w2textbox "> %</strong>
                            </span>
                        </span>
                    </a>
                     <a id="mf_wq_uuid_59" class="w2group " href="javascript:void(null);">
                        <span id="mf_wq_uuid_60" class="w2group loan_cont">
                            <strong id="mf_wq_uuid_61" class="w2textbox title">예상 최대한도</strong>
                            <!-- <span id="mf_wq_uuid_62" class="w2textbox explanation">달성율</span> -->
                        </span>
                        <span id="mf_wq_uuid_63" class="w2group loan_ex">
                            <span id="mf_wq_uuid_65" class="w2group percent">
                                <strong id="mf_wq_uuid_66" class="w2textbox ">{{post.MAX_LIMIT}}</strong>
                                <strong id="mf_wq_uuid_67" class="w2textbox ">만원</strong>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% endfor %}
{% endblock %}
